.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(100px, auto); 
	/* To deal with the hieght and the content inside the grid does not overlay. */
	grid-gap: 1em;
}   
 /* Justify-content : horizontal
align-items : vertical */
.wrapper > div {
	background: #eee;
	padding: 1em;
}
.wrapper > div:nth-child(odd) {
	background: #ddd;
}
.box1 {
	align-self: start;
}
.box2 {
	align-self: center;
}
.box3 {
	align-self: end;
}
.box4 {
	justify-self: start;
}
.box5 {
	justify-self: center;
}
.box6 {
	justify-self: end;
}
 .box7 {
	grid-column: 1/3;
	grid-row: 3/4;
}
.box8 {
	grid-row: 3;
	grid-column: 1/3;
}
.box9 {
	grid-row: 2/4;
	grid-column: 3;
}
.box10 {
	grid-row: 1;
	grid-column: 2/4;
	border: 1px solid #333;
}
