
p {
    color: #00f;
}

a {
    text-decoration: none; color: black;
}

h3 {
    text-decoration: underline 
}

.remove_underline {
    text-decoration: none;       
}

.yellow-bg-class {
    background: yellow;
}
